*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', monospace;
  color: #F9AE51;
  letter-spacing: 1.5px;
}

body {
  background-image: url('../public/game-theme.gif');
  background-attachment: fixed;
  background-size: cover;
}

/*home*/
.h2-home{
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  margin-top: 50vh;
  text-shadow: 0px 3px 10px #A0C2E1;
  animation: h2 3s;
}

.h2-home:hover{
  text-shadow: 3px 1px 15px #EDFAF4;
}

.btn-home{
  letter-spacing: 5px;
  font-size-adjust: .78;
  color: #DBF5F0;
  border-radius: 25%;
  width: 20%;
  background: #4A8B47;
  animation: btn 3s;
}

.btn-home:hover{
  text-shadow: 3px 1px 15px #EDFAF4;
  box-shadow: 3px 1px 15px #318C4D;
}

@keyframes h2{
  0%{
    transform: translateY(-800%);
    opacity: 0%;
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes btn{
  0%{
    transform: translateX(40vw);
    opacity: 0%;
  }
  100%{
    transform: translateY(0%);
  }
}

/*Error404*/
.h1-error{
  margin-top: 50vh;
  text-shadow: 2px 3px 15px #BFE9E5;
  animation: h1-error 3s;
}

@keyframes h1-error{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

.a-error{
  text-decoration: none;
  color: #F9AE51;
  animation: a-error 3s infinite;
}

@keyframes a-error{
  0%{
    text-shadow: 0px;
  }
  100%{
    text-shadow: 2px 3px 15px #FFFFFF;
  }
}

.a-error:hover{
  color: #F9AE51;
  text-shadow: 2px 3px 15px #F9AE51;
}